@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleInterval" class="carousel slide mt-4" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
            <img src="https://images-submarino.b2w.io/spacey/2019/04/04/header-lancamento_1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="https://images-americanas.b2w.io/spacey/2019/04/05/S10_PEGUE_NA_LOJA_DESK.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images-americanas.b2w.io/spacey/2019/04/05/1296x324_destaque_desk.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@

<div class="row mt-2">
    <div class="col-md-3">
        <div class="card border-light" style="width: 18rem;">
            <img src="https://via.placeholder.com/250x150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="/" class="btn btn-link">R$ 100,00</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-light" style="width: 18rem;">
            <img src="https://via.placeholder.com/250x150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="/" class="btn btn-link">R$ 100,00</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-light" style="width: 18rem;">
            <img src="https://via.placeholder.com/250x150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="/" class="btn btn-link">R$ 100,00</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-light" style="width: 18rem;">
            <img src="https://via.placeholder.com/250x150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="/" class="btn btn-link">R$ 100,00</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-light" style="width: 18rem;">
            <img src="https://via.placeholder.com/250x150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="/" class="btn btn-link">R$ 100,00</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-light" style="width: 18rem;">
            <img src="https://via.placeholder.com/250x150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="/" class="btn btn-link">R$ 100,00</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-light" style="width: 18rem;">
            <img src="https://via.placeholder.com/250x150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="/" class="btn btn-link">R$ 100,00</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-light" style="width: 18rem;">
            <img src="https://via.placeholder.com/250x150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="/" class="btn btn-link">R$ 100,00</a>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            //console.log($('#myCarousel'));
            //console.log($('#myCarousel').carousel);
            $('.carousel').carousel();
        });
    </script>
}
